build/
src/generated/**/*
src/gperf_hash_tables/**/*
src/code/**/*
generated/

*.4ed
*.exp
*.10x
*.dSYM/**/*
*.ilk
*.pdb
*.4coder
*.rdbg
*.DS_Store

# Template

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
